html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  font-family: "helvetica neue", helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.scroll {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-family: "font-2";
  font-size: calc(0.5rem + 0.35vw);
  z-index: 10;
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  z-index: 10;
}
.logo img {
  display: block;
  height: 3rem;
  width: auto;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  position: absolute;
  top: 2rem;
  z-index: 10;
}
.nav--left {
  left: 1rem;
}
.nav--right {
  right: 1rem;
}
.nav ul {
  display: flex;
  align-items: center;
  height: 1rem;
}
.nav li {
  display: block;
  margin: 0 1rem;
  padding: 0;
}
.nav a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: calc(0.5rem + 0.35vw);
  font-family: "helvetica neue", helvetica, sans-serif;
}
.nav a span {
  position: relative;
}
.nav a span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.35rem;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  transition: transform 0.75s ease;
  transform-origin: right;
  transform: scaleX(0);
}
.nav a:hover span:before, .nav a.is-active span:before {
  transform: scaleX(1);
  transform-origin: left;
}

.vert-text {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 15rem;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  .vert-text span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    transform: rotate(-90deg) translateY(15rem);
    transform-origin: bottom left;
    font-size: 1.35rem;
  }

.cart-total {
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;
}

.custom-gui-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -999;
}
.custom-gui-container.hidden {
  display: none;
}

/* #myCanvas {
    width: 100vh;
    height: 100vh;
} */

canvas {
  display: block;
  background-color: #000;
}

.dg.ac {
  display: none !important;
}

body {
  background: #eff5ed;
  font-family: courier, serif; /* Need monospace font for this to work */
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.hello {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: #fff;
  line-height: 3;
  font-family: "Noto Serif KR", serif;
}

.hello h3 {
  position: relative;
  color: #152860;
  text-align: center;
  white-space: nowrap;
  font-size: 55px;
  letter-spacing: 0.0625em;
  overflow: hidden; /* Ensures the text is hidden until revealed by animation */
  width: 0; /* Initial width set to 0 */
  animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 20ch; }
}

/* Blinking caret effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #152860; }
}
